<div class="row m-0 p-0">

  <div class="card-info m-5">
    <div class="card-body">
      <h5 class="card-title">Informativo</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Identidade do Militar</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button type="submit" class="rounded bg-btn-green w-25 text-center py-2 px-2"> ACESSAR </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ficha do Militar</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button type="submit" class="rounded bg-btn-green w-25 text-center py-2 px-2"> ACESSAR </button>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">SISPMAM</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button id="btn-expanded-acessar" type="submit" class="rounded bg-btn-green w-25 text-center py-2 px-2"> ACESSAR </button>
      </div>
    </div>
  </div>
</div>